.Layout{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.Cabeçalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #777;

}
.Cabeçalho h1{
    margin: 0;
    font-size: 1.4rem;
}

.Cabeçalho a{
    background-color: crimson;
    padding:8px 12px ;
    border-radius: 5px;
}
.conteudo{
    padding: 25px;
    height: 100%;
}